:host ::ng-deep .page,
:host ::ng-deep .chart-wrapper{
   padding: 50px 15px;
}

:host ::ng-deep h1 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 30px;
}

:host ::ng-deep p {
    font: 20px/26px "Helvetica Neue";
}

:host ::ng-deep .pointer,
:host ::ng-deep .axis-label{
    border: 2px solid #000;
    height: 100%;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

:host ::ng-deep .axis-label {
    border: none;
}
