<div class="container page">

  <header>
    <div style=" width: 200px; height: 97px; margin-bottom: 30px; background: url('/assets/DayTwoLogo.png') no-repeat 0/contain"></div>
  </header>

  <div class="row no-gutters">
    <div class="col-lg-5">
      <h1>{{ pageTitle }}</h1>
      <div [innerHTML]="pageText"></div>
    </div>
    <div class="col-lg-6 offset-lg-1">
      <div #gaugeChartTarget >
        chart target
      </div>
    </div>
  </div>

  <div class="row chart-wrapper">
    <div class="col">
      <div #chartTarget>
        chart target
      </div>
    </div>
  </div>

  <div class="row text-center">
    <div class="col">
      <button
            class="btn btn-primary"
            (click)="downloadPDF()">Download / Print PDF</button>
    </div>
  </div>

</div>